$light: #ffe4af #f5b477 #45857d #f4ab9a;
$normal: #f6be85 #f59e72 #167071 #ffb47b;
$accent: #fe8f24 #e37352 #fe6625 #ff7c5e;
$strong: #fc620c #b1584c #fb9234;
$dark: #ea8859 #a56979 #003d59 #745285;
$darker: #c0572d #5f4356 #424951 #331b4d;

$main-background: #331b4d;

html,
main,
body {
  background: $main-background;
}

$background: #ff532e #8f8f8f #b32c0e #997759;
$background: #ff532e;
