$light: #ffe4af #f5b477 #45857d #f4ab9a;
$normal: #f6be85 #f59e72 #167071 #ffb47b;
$accent: #fe8f24 #e37352 #fe6625 #ff7c5e;
$strong: #fc620c #b1584c #fb9234;
$dark: #ea8859 #a56979 #003d59 #745285;
$darker: #c0572d #5f4356 #424951 #331b4d;

$main-color: #ff532e;
$main-accent: #bffb5e;
$main-usual: #ffe4af;
$main-background: #331b4d;

$svg-background: "data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 1920 1080' width='1920' height='1080' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Cpath d='M0 379L29.2 362.8C58.3 346.7 116.7 314.3 174.8 283.7C233 253 291 224 349.2 251C407.3 278 465.7 361 523.8 388C582 415 640 386 698.2 382.3C756.3 378.7 814.7 400.3 872.8 389.7C931 379 989 336 1047.2 345C1105.3 354 1163.7 415 1221.8 445.5C1280 476 1338 476 1396.2 443.7C1454.3 411.3 1512.7 346.7 1570.8 330.5C1629 314.3 1687 346.7 1745.2 379C1803.3 411.3 1861.7 443.7 1890.8 459.8L1920 476L1920 0L1890.8 0C1861.7 0 1803.3 0 1745.2 0C1687 0 1629 0 1570.8 0C1512.7 0 1454.3 0 1396.2 0C1338 0 1280 0 1221.8 0C1163.7 0 1105.3 0 1047.2 0C989 0 931 0 872.8 0C814.7 0 756.3 0 698.2 0C640 0 582 0 523.8 0C465.7 0 407.3 0 349.2 0C291 0 233 0 174.8 0C116.7 0 58.3 0 29.2 0L0 0Z' fill='%23331b4d'%3E%3C/path%3E%3Cpath d='M0 552L29.2 562.8C58.3 573.7 116.7 595.3 174.8 588.2C233 581 291 545 349.2 555.7C407.3 566.3 465.7 623.7 523.8 636.2C582 648.7 640 616.3 698.2 611C756.3 605.7 814.7 627.3 872.8 638.2C931 649 989 649 1047.2 656.2C1105.3 663.3 1163.7 677.7 1221.8 677.7C1280 677.7 1338 663.3 1396.2 647.2C1454.3 631 1512.7 613 1570.8 604C1629 595 1687 595 1745.2 614.8C1803.3 634.7 1861.7 674.3 1890.8 694.2L1920 714L1920 474L1890.8 457.8C1861.7 441.7 1803.3 409.3 1745.2 377C1687 344.7 1629 312.3 1570.8 328.5C1512.7 344.7 1454.3 409.3 1396.2 441.7C1338 474 1280 474 1221.8 443.5C1163.7 413 1105.3 352 1047.2 343C989 334 931 377 872.8 387.7C814.7 398.3 756.3 376.7 698.2 380.3C640 384 582 413 523.8 386C465.7 359 407.3 276 349.2 249C291 222 233 251 174.8 281.7C116.7 312.3 58.3 344.7 29.2 360.8L0 377Z' fill='%236d1d5f'%3E%3C/path%3E%3Cpath d='M0 843L29.2 850.3C58.3 857.7 116.7 872.3 174.8 856.2C233 840 291 793 349.2 775C407.3 757 465.7 768 523.8 768C582 768 640 757 698.2 751.5C756.3 746 814.7 746 872.8 773C931 800 989 854 1047.2 864.8C1105.3 875.7 1163.7 843.3 1221.8 838C1280 832.7 1338 854.3 1396.2 858C1454.3 861.7 1512.7 847.3 1570.8 829.3C1629 811.3 1687 789.7 1745.2 796.8C1803.3 804 1861.7 840 1890.8 858L1920 876L1920 712L1890.8 692.2C1861.7 672.3 1803.3 632.7 1745.2 612.8C1687 593 1629 593 1570.8 602C1512.7 611 1454.3 629 1396.2 645.2C1338 661.3 1280 675.7 1221.8 675.7C1163.7 675.7 1105.3 661.3 1047.2 654.2C989 647 931 647 872.8 636.2C814.7 625.3 756.3 603.7 698.2 609C640 614.3 582 646.7 523.8 634.2C465.7 621.7 407.3 564.3 349.2 553.7C291 543 233 579 174.8 586.2C116.7 593.3 58.3 571.7 29.2 560.8L0 550Z' fill='%23a91760'%3E%3C/path%3E%3Cpath d='M0 930L29.2 940.8C58.3 951.7 116.7 973.3 174.8 967.8C233 962.3 291 929.7 349.2 931.3C407.3 933 465.7 969 523.8 974.5C582 980 640 955 698.2 949.7C756.3 944.3 814.7 958.7 872.8 971.2C931 983.7 989 994.3 1047.2 994.3C1105.3 994.3 1163.7 983.7 1221.8 974.7C1280 965.7 1338 958.3 1396.2 960.2C1454.3 962 1512.7 973 1570.8 971.3C1629 969.7 1687 955.3 1745.2 958.8C1803.3 962.3 1861.7 983.7 1890.8 994.3L1920 1005L1920 874L1890.8 856C1861.7 838 1803.3 802 1745.2 794.8C1687 787.7 1629 809.3 1570.8 827.3C1512.7 845.3 1454.3 859.7 1396.2 856C1338 852.3 1280 830.7 1221.8 836C1163.7 841.3 1105.3 873.7 1047.2 862.8C989 852 931 798 872.8 771C814.7 744 756.3 744 698.2 749.5C640 755 582 766 523.8 766C465.7 766 407.3 755 349.2 773C291 791 233 838 174.8 854.2C116.7 870.3 58.3 855.7 29.2 848.3L0 841Z' fill='%23dc2750'%3E%3C/path%3E%3Cpath d='M0 1081L29.2 1081C58.3 1081 116.7 1081 174.8 1081C233 1081 291 1081 349.2 1081C407.3 1081 465.7 1081 523.8 1081C582 1081 640 1081 698.2 1081C756.3 1081 814.7 1081 872.8 1081C931 1081 989 1081 1047.2 1081C1105.3 1081 1163.7 1081 1221.8 1081C1280 1081 1338 1081 1396.2 1081C1454.3 1081 1512.7 1081 1570.8 1081C1629 1081 1687 1081 1745.2 1081C1803.3 1081 1861.7 1081 1890.8 1081L1920 1081L1920 1003L1890.8 992.3C1861.7 981.7 1803.3 960.3 1745.2 956.8C1687 953.3 1629 967.7 1570.8 969.3C1512.7 971 1454.3 960 1396.2 958.2C1338 956.3 1280 963.7 1221.8 972.7C1163.7 981.7 1105.3 992.3 1047.2 992.3C989 992.3 931 981.7 872.8 969.2C814.7 956.7 756.3 942.3 698.2 947.7C640 953 582 978 523.8 972.5C465.7 967 407.3 931 349.2 929.3C291 927.7 233 960.3 174.8 965.8C116.7 971.3 58.3 949.7 29.2 938.8L0 928Z' fill='%23ff532e'%3E%3C/path%3E%3C/svg%3E";

$background: #ff532e #8f8f8f #b32c0e #997759;
$background: #ff532e;
/*
@media screen and (min-width: 480px) {
  html,
  body {
    background: #000;
    width: 100%;
  }
}

@media screen and (min-width: 600px) {
  html,
  body {
    background: #000;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  html,
  body {
    background: #000;
    width: 100%;
  }
}
*/
#nprogress .bar {
  background: $main-accent !important;
  height: 0.5vh;
}

html {
  background: $main-background;
}
body {
  background: url($svg-background);
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
